/* Ajoutez ces styles dans votre fichier CSS */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_co {
    flex: 1;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    margin-bottom: 16px;
}

.success-message {
    color: green;
    margin-bottom: 16px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0056b3;
}

#setbutton {
    margin-top: 20px;
    text-align: center;
}

.signup {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.signup:hover {
    background-color: #27ae60;
}

span {
    color: #e74c3c;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

p {
    color: #e74c3c;
    margin-top: 10px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    
}
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
nav {
    background-color: #44A33D;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover {
    border-bottom: 2px solid black;
}